* {
	box-sizing:border-box;
	transition: .5s all ease;
}

.bigBox {
	background: none;
	width: 100%;
}

.bigBox > div {
	margin: 2%;
	background: cornflowerblue;
	padding: 5%;
	display: inline-block;
	width: 40%;
	border: 5px solid green
}

div:nth-child(1n+3) {
	background-color:yellow;
}

div div div {
	height:50px;
	width:50px;
	background-color:red;
	border-radius:100%;
}

input[type=checkbox]:checked ~ .bigBox > div {
	display: block;

}